h2 {
  color: grey;
  text-align: center;
  font-size: 50px;
}

body {
  text-align: center;
  background-color: ghostwhite;
  padding: 50px;
  line-height: 30px;
  font-weight: bold;
  font-size: 22px;
}
